#userinputRapper{
  position: fixed;
  top: 0vh;
  background-color: #ffffff;
  padding-bottom: 1vh;
}

#userinput{
  background-color: #ffffff;
  border: solid #c82e29 5px;

  margin-top: 1vh;
  margin-left: 4vw;
  
  width: 92vw;
  height: 5vh;
  text-align: center;
  font-size: 3em;
}


/* ---------------------------------- */

table {
  margin-top: 8vh;
  width: 98vw;
  background-color: #fafafa;
  padding: 1vw;
}

td{
  border: solid #c82e29 5px;
  background-color: #fafafa;
  padding: 8px;
  font-size: 2em;
}

#SingleCheseVewComponet{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fafafa;
}

#SingleCheseVewComponet table td{
  font-size: 1em;
}

/* ---------------------------------- OLD ---------------------------------- */

/*table {
  width: 100vw;
  background-color: #fafafa;
  padding: 8px;
  border: solid #c82e29 5px;
}
*/
/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

table {
  width: 100vw;
  background-color: #fafafa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/